@page "/todo"

// Injecting HttpClient directly (for basic usage)
    @inject HttpClient Http
<h3>Tareas</h3>
<p>Módulo para la gestión de tareas</p>

@code {
    // TodoAppFront.Components.Modules.Task.Domain.Task [] data;

    // protected override async Task OnInitializedAsync()
    // {
    //     data = await Http.GetJsonAsync<Employee[]>("/api/Employee/Index");
    // }
}
